<section class="products container my-3">
    <div class="products-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
            </ol>
        </nav>
    </div>
    <h1>SẢN PHẨM</h1>
    <div class="d-flex justify-content-between my-3" ng-show="keywordSearch != ''">
        <div class="text-uppercase">Bạn đang tìm kiếm: {{keywordSearch}}</div>
        <button class="btn bg-secondary bg-opacity-10" ng-click="resetKeyword()">Xóa tìm kiếm</button>
    </div>
    <div class="products-fillter my-5 d-flex justify-content-between">
        <p>Hiển thị tất cả sản phẩm: {{(dssp.products | customFilterSearch:idcatalog:keywordSearch).length}} sản phẩm
        </p>
        <select class="form-select w-25" aria-label="Default select example" ng-model="selectedOrder"
            ng-change="updateOrder()">
            <option value="default">Theo thứ tự mặc định</option>
            <option value="N.A-Z">Theo tên A-Z</option>
            <option value="N.Z-A">Theo tên Z-A</option>
            <option value="newest">Mới nhất</option>
            <option value="lowToHigh">Theo giá: thấp đến cao</option>
            <option value="highToLow">Theo giá: cao đến thấp</option>
        </select>
    </div>
    <div class="products-show row g-3">
        <div class="col-6 col-md-3 position-relative"
            ng-repeat="product in dssp.products | customFilterSearch:idcatalog:keywordSearch | orderBy:order |limitTo:limit:begin">
            <span ng-if="product.sale" class="position-absolute fs-6 badge text-bg-light shadow top-0 left-0 m-3 rounded-pill ">Sale!</span>
            <a href="#!detail/{{product.id}}"><img ng-src="./img/{{ product.img }}" class="card-img-top" alt="..."></a>
            <a ng-click="add(product)" class=" product-addtocart rounded-circle p-2 badge position-absolute top-0 end-0 m-3
                translate-middle-x shadow text-bg-light" data-bs-toggle="tooltip" data-bs-placement="left"
                data-bs-custom-class="custom-tooltip" data-bs-title="Thêm vào giỏ hàng">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <div class="text-center">
                <h5 class="card-title fs-6 mt-4"> {{product.name}} </h5>
                <p class="card-text"> {{product.price}} <span>$</span></p>
            </div>
        </div>
    </div>
    <div class="products-pagination mt-4">
        <nav aria-label="Page navigation example"
            ng-show="(dssp.products | customFilterSearch:idcatalog:keywordSearch).length > 12">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <button class="page-link {{(page==1)? 'disabled' : ''}}" href="#" style="color: black;"
                        aria-label="Previous" ng-click="changePage(page-1)">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                <li class="page-item"><button ng-click="changePage(1)" class="page-link {{(page==1) ? 'active' : ''}}"
                        style="color: black;" href="#">1</button></li>
                <li class="page-item"><button ng-click="changePage(2)" class="page-link {{(page==2) ? 'active' : ''}}"
                        style="color: black;" href="#">2</button></li>
                <li class="page-item"><button ng-click="changePage(3)" class="page-link {{(page==3) ? 'active' : ''}}"
                        style="color: black;" href="#">3</button></li>
                <li class="page-item">
                    <button class="page-link {{(page==3) ? 'disabled' : ''}}" ng-click="changePage(page+1)" href="#"
                        style="color: black;" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</section>